.leafcutter-donation-tile .wp-block-cover{margin:0;pointer-events:none;user-select:none}.leafcutter-donation-tile .wp-block-cover:before{display:none!important}.donation-tiles-content-container{display:grid;grid-template-columns:var(--tile-column-grid-cols-value);grid-template-rows:auto}
/*# sourceMappingURL=/blocks.css.map */